/_3dparty
_config/*.vars
/_out
_scripts/tools/__pycache*__
cmake_tests/_config/*.vars
include/tacklelib/debug.hpp
include/tacklelib/optimization.hpp
include/tacklelib/setup.hpp
python/__pycache__
python/cmdoplib/__pycache__
python/tacklelib/__pycache__
python_tests/.pytest_cache
src/debug.hpp
src/optimization.hpp
src/setup.hpp
