* text=auto !eol
/.svnignore -text
_scripts/__init__.bat -text
_scripts/__init__.sh -text
_scripts/admin/chown_mod.sh -text
_scripts/build_x86.bat -text
_scripts/build_x86.sh -text
_scripts/buildlib.sh -text
_scripts/configure_gen.bat -text
_scripts/configure_gen.sh -text
_scripts/configure_nogen.bat -text
_scripts/configure_nogen.sh -text
_scripts/configure_src.bat -text
_scripts/configure_src.sh -text
_scripts/deploy/collect_ldd_deps.sh -text
_scripts/deploy/create_links.sh -text
_scripts/deploy/gen_links.sh -text
_scripts/deploy/user_links.lst -text
_scripts/install_x86.bat -text
_scripts/install_x86.sh -text
_scripts/pack_x86.bat -text
_scripts/pack_x86.sh -text
_scripts/post_install_x86.sh -text
_scripts/traplib.sh -text
/changelog.txt -text
/configure_gen.bat.in -text
/configure_gen.sh.in -text
/configure_nogen.bat.in -text
/configure_nogen.sh.in -text
/environment_config.cmake.in -text
/environment_local.cmake.in -text
/environment_local.vars.in -text
includes/.svnignore -text
includes/debug.hpp.in -text
includes/optimization.hpp.in -text
includes/tackle/aligned_storage_base.hpp -text
includes/tackle/aligned_storage_decl.hpp -text
includes/tackle/basic_iterator.hpp -text
includes/tackle/compressed_pair.hpp -text
includes/tackle/deque.hpp -text
includes/tackle/path_string.hpp -text
includes/tacklelib.hpp -text
includes/utility/assert.hpp -text
includes/utility/debug.hpp -text
includes/utility/math.hpp -text
includes/utility/memory.hpp -text
includes/utility/platform.hpp -text
includes/utility/preprocessor.hpp -text
includes/utility/static_assert.hpp -text
includes/utility/time.hpp -text
includes/utility/type_traits.hpp -text
includes/utility/utility.hpp -text
src/.svnignore -text
src/common.cpp -text
src/common.hpp -text
src/debug.hpp.in -text
src/optimization.hpp.in -text
src/tackle/aligned_storage.hpp -text
src/tackle/file_handle.cpp -text
src/tackle/file_handle.hpp -text
src/tackle/file_reader.cpp -text
src/tackle/file_reader.hpp -text
src/tackle/private/aligned_storage_decl.hpp -text
src/tackle/private/aligned_storage_impl.hpp -text
src/tackle/smart_handle.hpp -text
src/tackle/stream_storage.hpp -text
src/tackle/variant.hpp -text
src/tacklelib.hpp -text
src/testlib/testlib.cpp -text
src/testlib/testlib.hpp -text
src/tests/test_common.hpp -text
src/tests/test_main.cpp -text
src/tests/test_main.hpp -text
src/tests/test_tacklelib.hpp -text
src/tests/tests.cpp -text
src/tests/unit/pch.cpp -text
src/tests/unit/test_deque.cpp -text
src/tests/unit/test_funcs.cpp -text
src/utility/algorithm.hpp -text
src/utility/algorithm/generated/gen_unroll_copy_switch.bat -text
src/utility/algorithm/generated/unroll_copy_switch.hpp -text
src/utility/assert.hpp -text
src/utility/assert_private.hpp -text
src/utility/crc.cpp -text
src/utility/crc.hpp -text
src/utility/crc_tables.hpp -text
src/utility/debug.cpp -text
src/utility/hash.hpp -text
src/utility/math.cpp -text
src/utility/memory.cpp -text
src/utility/utility.cpp -text
