* text=auto !eol
/.svnignore -text
_scripts/__init__.bat -text
_scripts/configure_src.bat -text
includes/.svnignore -text
includes/tackle/aligned_storage_decl.hpp -text
includes/tackle/basic_iterator.hpp -text
includes/tacklelib.hpp -text
includes/utility/assert.hpp -text
includes/utility/debug.hpp -text
includes/utility/math.hpp -text
includes/utility/platform.hpp -text
includes/utility/preprocessor.hpp -text
includes/utility/static_assert.hpp -text
includes/utility/utility.hpp -text
src/debug.hpp -text
src/optimization.hpp -text
src/tackle/aligned_storage.hpp -text
src/tackle/aligned_storage_decl.hpp -text
src/tackle/aligned_storage_impl.hpp -text
src/tackle/file_handle.cpp -text
src/tackle/file_handle.hpp -text
src/tackle/file_reader.cpp -text
src/tackle/file_reader.hpp -text
src/tackle/smart_handle.hpp -text
src/tackle/stream_storage.hpp -text
src/tacklelib.hpp -text
src/utility/algorithm.hpp -text
src/utility/algorithm/generated/gen_unroll_copy_switch.bat -text
src/utility/algorithm/generated/unroll_copy_switch.hpp -text
src/utility/crc.cpp -text
src/utility/crc.hpp -text
src/utility/crc_tables.hpp -text
src/utility/debug.cpp -text
src/utility/hash.hpp -text
src/utility/math.hpp -text
src/utility/type_traits.hpp -text
src/utility/utility.cpp -text
src/utility/utility.hpp -text
