/**/.log
/**/.temp
/**/_out
/**/_externals
/**/__pycache__
/**/.pytest_cache
include/tacklelib/debug.hpp
include/tacklelib/optimization.hpp
include/tacklelib/setup.hpp
python_tests/manual/01_fcache_workarounds/cache
src/debug.hpp
src/optimization.hpp
src/setup.hpp
